<% provide(:title, 'All Users') %>
<div class="container">

<div class="row">
  <h1>All Users</h1>
</div>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
</div>
