<%# For Home Page %>
<div class="container">
  <h3 class="userinfo">
    <div class="inline">
      <%= link_to gravatar_for(current_user, size: 52), current_user %>
        <%= current_user.username %>
    </div>
    <div class="block">
      <%= render 'shared/stats' %>
    </div>
  </h3>
</div>
